<h1>Dogs App by Helen</h1>
 <ul>
  <% @dogs.each do |dog| %>
  <li><%= "Dog Number: #{dog.id}" %></li>
  <li><%= "Name: " + dog.name %></li>
  <li><%= "Gender: " + dog.gender %></li>
  <li><%= "Age:  #{dog.age}" %></li>
  <li><%= "Breed: " + dog.breed %></li>
  <% if dog.vaccinated? == true %>
      <li><%= "vaccinated" %></li>
  <% else %>
      <li><%= "not vaccinated" %> </li>
  <% end %>
  <%= link_to "Show", dog_path(dog) %>
  <%= link_to "Edit", edit_dog_path(dog) %>
  <%= link_to "Delete", dog_path(dog), method: :delete %>
  <br>
  <br>
  <% end %>
</ul>

<%= link_to "Create New Dog", new_dog_path %>
